* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar content";
    grid-template-rows: 80px 750px;
    grid-template-columns: 1fr 6fr;
}

.item {
    padding: 20px;
    border: 1px solid #ccc;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    grid-area: header;
    background-color: cadetblue;
    grid-row: 1;
}

.sidebar {
    grid-area: sidebar;
    grid-row: 2;
    color: rgb(244, 236, 236);
    background-color: rgb(8, 48, 35);
}

.content {
    grid-area: content;
    color: white;
    grid-row: 2;
    background-color: yellowgreen;
}